{{- define "content" -}}
<div>
    <form method="POST" action="admin/book">
        <label>Title</label>
        <input type="text" name="title">
        <label>Author</label>
        <input type="text" name="author">
        <input type="submit">
    </form>
</div>
<div>
    <table class="admin__booklist">
        <caption>List of Books</caption>
        <tbody>
            <tr>
                <th class="admin__booklist-content">Name</th>
                <th class="admin__booklist-content">Author</th>
            </tr>
            {{range .Books}}
            <tr>
                <td class="admin__booklist-content">{{.Title}}</th>
                <td class="admin__booklist-content">{{.Author}}</th>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>
{{- end -}}